{#
/**
 * @file
 * Theme override to display a reader previous next block.
 *
 *   - {{ content.next }} - The Next Link.
 *   - {{ content.previous }} - The Previous Link.
 *
 * @see core/themes/classy/templates/block/block.html.twig
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {{ content.next }}
    {{ content.previous }}
  {% endblock %}
</div>
