{#
/**
 * @file
 * Theme override to display a node reader-publication.
 *
 *   - Wrap the area of content you want to be replaced with the chapter content
 *     with `<div id="js-epub-reader-framework-content">` and `</div>`. On
 *     chapter change, the inner content of that will be replaced. This allows
 *     you to leave the main Reader Publication title and author in place for
 *     instance.
 *
 * @see core/themes/classy/templates/content/node.html.twig
 */
#}
{% set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div id="js-epub-reader-framework-content">
    <div{{ content_attributes.addClass('node__content') }}>
      {{ content }}

      <div class="node__previous-next">
        {{ reader_previous_next }}
      </div>
    </div>
  </div>


</article>
