/* Hide sub-navigation items when collapsed, only if JS is enabled.  */
.js .c-reader-navigation__menu li.has-children ul {
  display: none;
}

/* Show sub-navigation items when expanded.  */
.js .c-reader-navigation__menu li.has-children.is-expanded ul {
  display: block;
}

/* Rotate the chevron when expanded, only if JS is enabled.  */
.js .c-reader-navigation__menu li.has-children.is-expanded .c-reader-navigation__expand {
  transform: rotate(180deg);
}

/* Ensure a sufficient default tap size */
.js .c-reader-navigation__menu li.has-children.is-expanded .c-reader-navigation__expand {
  padding: 1rem;
}
