{#
/**
 * @file
 * Theme override to display a reader navigation.
 *
 *   - {{ chapter_items }} - The chapter items.
 */
#}
{%
  set classes = [
  'reader-navigation',
  'reader-navigation-' ~ configuration.provider|clean_class,
  'reader-navigation-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ chapter_items }}
  {% endblock %}
</div>
