{#
/**
 * @file
 * Theme override to display a reader previous next.
 *
 *   - {{ previous }} - A link to the previous chapter if available.
 *   - {{ next }} - A link to the previous chapter if available.
 */
#}
{%
  set classes = [
  'reader-navigation',
  'reader-navigation-' ~ configuration.provider|clean_class,
  'reader-navigation-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ previous }}
    {{ next }}
  {% endblock %}
</div>
